@{
    ViewData["Title"] = "Home";
}

<div class="title-component">
    <div class="title-section">
        <div class="intro-component">
            <div class="intro-position">
                Sr. Web Developer
            </div>
            <div class="intro-name">
                Chris Hadjimylos | Resume
            </div>
            <div class="intro-summary">
                Senior .Net Core developer interested in full-remote opportunities in application development.
            </div>
        </div>
    </div>
    <div class="title-section inline">
        <div class="info-component wider-label">
            <div class="info-title">Details</div>
            <div class="info-field">
                <label>Citizenship:</label>
                <div class="data">US, EU</div>
            </div>
            <div class="info-field">
                <label>Degree:</label>
                <div class="data">Computer Science BSc.</div>
            </div>
            <div class="info-field">
                <label>Experience:</label>
                <div class="data">5+ years</div>
            </div>
        </div>
        <div class="info-component">
            <div class="info-title">Contact</div>
            <div class="info-field">
                <label>Email:</label>
                <div class="data">hadjimylos@gmail.com</div>
            </div>
            <div class="info-field">
                <label>GR Phone:</label>
                <div class="data">6980364990</div>
            </div>
            <div class="info-field">
                <label>US phone:</label>
                <div class="data">(703) 705-9443</div>
            </div>
        </div>
    </div>
</div>
<div class="university-component">
    <div class="uni-icon">
        <img class="small-size" src="~/images/uni-icon.png" />
    </div>
    <div class="uni-txt">
        Degree: Computer Science BSc. with focus in software engineering graduated 2014
    </div>
</div>
<div class="job-components-wrapper">
    <div class="job-component first">
        <div class="job-logo" style="padding-bottom: 8px; box-sizing: border-box;">
            <img class="small-size" src="~/images/ibm.png" />
        </div>
        <div class="vertical-line small"></div>
        <div class="job-items">
            <div class="by-three">
                <div>Agile</div>
                <div>HTML</div>
                <div>CSS</div>
            </div>
            <div class="by-two">
                <div>Javascript</div>
                <div>JQuery</div>
            </div>
        </div>
        <div class="vertical-line large"></div>
        <div class="job-position">Jr. Software Developer</div>
        <div class="job-duration">Jan 2012 - May 2012</div>
    </div>
    <div class="job-component second">
        <div class="job-logo" style="padding-bottom: 5px; box-sizing: border-box;">
            <img src="~/images/pcs.gif" />
        </div>
        <div class="vertical-line small"></div>
        <div class="job-items">
            <div class="by-three">
                <div>Waterfall</div>
                <div>IIS</div>
                <div>ASP.Net</div>
            </div>
            <div class="by-two">
                <div>Web Services</div>
                <div>Sharepoint</div>
            </div>
            <div class="by-three">
                <div>SQL Server</div>
                <div>VB</div>
                <div>C#</div>
            </div>
        </div>
        <div class="vertical-line large"></div>
        <div class="job-position">Mid-level Software Developer</div>
        <div class="job-duration">Jan 2012 - Oct 2013</div>
    </div>
    <div class="job-component third">
        <div class="job-logo" style="padding-bottom: 0px; box-sizing: border-box;">
            <img class="lrg-size" src="~/images/csm.jpg" />
        </div>

        <div class="vertical-line small"></div>
        <div class="job-items">
            <div class="by-one">
                <div>ASP.Net Core</div>
            </div>
            <div class="by-two">
                <div>CSS 3</div>
                <div>HTML 5</div>
            </div>
            <div class="by-one">
                <div>DocumentDB</div>
            </div>
        </div>
        <div class="vertical-line large"></div>
        <div class="job-position">Sr. Software Developer</div>
        <div class="job-duration">Nov 2013 - Oct 2015</div>
    </div>
    <div class="job-component fourth">
        <div class="job-logo" style="padding-bottom: 14px; box-sizing: border-box;">
            <img class="small-size" src="~/images/cps.png" />
        </div>
        <div class="vertical-line small"></div>
        <div class="job-items">
            <div class="by-one">
                <div>Azure Hosting</div>
            </div>
            <div class="by-three">
                <div>Power BI</div>
                <div>Einstein BI</div>
                <div>OBIEE</div>
            </div>
            <div class="by-two">
                <div>Salesforce Apex</div>
                <div>Powershell</div>
            </div>
            <div class="by-one">
                <div>Azure Serverless Functions</div>
            </div>
            <div class="by-two">
                <div>Crystal Reports</div>
                <div>SAS Reporting</div>
            </div>
            <div class="by-one">
                <div>IBM Watson Integrations</div>
            </div>
            <div class="by-one">
                <div>Angular JS</div>
            </div>
        </div>
        <div class="vertical-line large"></div>
        <div class="job-position">Technical Lead</div>
        <div class="job-duration">Nov 2015 - Jan 2018</div>
    </div>
    <div class="job-component fifth">
        <div class="job-logo" style="padding-bottom: 8px; box-sizing: border-box;">
            <img src="~/images/indev.jpg" />
        </div>

        <div class="vertical-line small"></div>
        <div class="job-items">
            <div class="by-one">
                <div>Entity Framework Core</div>
            </div>
            <div class="by-three">
                <div>Django</div>
                <div>Ubuntu</div>
                <div>Python</div>
            </div>
            <div class="by-one">
                <div>Postrge SQL</div>
            </div>
            <div class="by-one">
                <div>ASP.Net Core 2.1</div>
            </div>
            <div class="by-three">
                <div>Grunt</div>
                <div>Webpack</div>
                <div>Ansible</div>
            </div>
        </div>
        <div class="vertical-line large"></div>
        <div class="job-position">Sr. Software Developer</div>
        <div class="job-duration">Feb 2018 - Present</div>
    </div>
</div>
<div class="footer-component">
    <a href="https://github.com/hadjimylos/resume">
        <img class="icon" src="~/images/github-icon.png" />
        <div class="txt">Resume Source Code</div>
    </a>
    <a href="https://www.linkedin.com/in/hadjimylos/">
        <img class="icon" src="~/images/linkedin.png" />
        <div class="txt">LinkedIn</div>
    </a>
    <img class="profile-icon" src="~/images/profile-icon.jpeg" />
</div>
