.intro-component {

    .intro-position {
        color: @blue;
        font-size: 30px;
    }

    .intro-name {
        font-size:25px;
    }

    .intro-summary {
        color:@red;
        padding-top:10px;
        box-sizing: border-box;
    }

}
